body {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    color: #3d270f;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.body-content {
    min-height: 620px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*general*/

h2 {
    padding: 30px;
    padding-top: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 250%;
    margin-top: 0;
}

.logo {
    max-width: 80%;
    max-height: 80%;
    padding-left: 30px;
    padding-bottom: 0;
}

body {
    background: url(../Content/Images/background3.jpg) repeat-x;
}

.bodyBackground {
    border: #5a3a16 solid 2px;
    border-radius: 20px;
    background: #f2cfa1;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    -webkit-box-shadow: 0 0 50px #f2cfa1;
    -moz-box-shadow: 0 0 50px #f2cfa1;
    box-shadow: 0 0 50px #f2cfa1;
}

hr {
    border-top: 1px solid #5a3a16;
}

footer {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #5a3a16;
    font-size: 110%;
}

.box {
    width: 100%;
    background: #f0e1ce;
    border-bottom: #5a3a16 solid 1px;
    border-left: #5a3a16 solid 1px;
    border-right: #5a3a16 solid 1px;
}

.otherPagesBox {
    height: 100%;
}


/*nav*/

.button {
    margin: 0;
}

    .button a, .buttonNext button {
        color: #5a3a16;
        font-weight: 900;
        font-size: 110%;
    }

.buttonNext {
    margin-right: 30px;
    margin-bottom: 30px;
}

    .buttonNext a, .buttonNext button {
        background-color: #a7754b;
        font-size: 150%;
        padding: 5px 20px;
        border: solid 2px #5e3405;
        border-radius: 5px;
        color: #f2cfa1;
    }

        .buttonNext a:hover, .buttonNext button:hover {
            background: none;
        }



.navbar {
    padding: 20px 0;
    padding-bottom: 10px;
    background-color: #a7754b;
    border: #5a3a16 solid 3px;
    font-weight: 900;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-300deg, pink, #f5da58); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-300deg, pink, #f5da58); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-300deg, pink, #f5da58); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-300deg, pink, #f5da58); /* Standard syntax */
    max-width: 1200px;
    margin: auto;
    margin: 0 auto;
    z-index: 1030;
    left: 0;
    right: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.navbar-nav li a {
    font-size: 150%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: #a46f43;
    min-width: 120px;
    max-width: 120px;
    text-align: center;
    padding: 15px 15px;
    line-height: 22px;
    margin: 30px 0;
    border-radius: 20px 30px 0;
    border: #5a3a16 solid 2px;
    margin-right: 15px;
    -webkit-box-shadow: 0 0 30px #f2cfa1;
    -moz-box-shadow: 0 0 30px #f2cfa1;
    box-shadow: 0 0 20px #f2cfa1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f2cfa1;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
    .navbar-inverse .navbar-nav > li > a:active, .navbar-inverse .navbar-nav .last a:hover,
    .navbar-inverse .navbar-nav .last a:focus, .navbar-inverse .navbar-nav .last a:active, .buttonNext a:hover, .buttonNext button:hover {
        color: #a46f43;
        text-decoration: none;
    }

.navbar-nav .cart a {
    padding: 12px 15px;
}

.navbar-toggle {
    position: absolute;
    z-index: 1050;
    left: 10px;
    top: 5px;
}

/*cakes*/
.cakeDefault {
    min-height: 350px;
    min-width: 1080px;
    /*background: url(../Content/Images/defaultCakeBackground2.png) no-repeat;*/
}

.cakeWrapper {
    min-height: 250px;
    min-width: 300px;
    background: url(../Content/Images/defaultCakeBackground.jpg) no-repeat;
    background-size: contain;
    position: relative;
}

.cakeBuilderImage {
    height: 151px;
    background-size: 237px 151px;
    background-repeat: no-repeat;
    position: relative;
    left: 54px;
    top: 35px;
}

.left {
    width: 400px;
}

.cakeDefaultText {
    padding: 50px;
    padding-top: 70px;
    z-index: 1030;
    margin-left: 700px;
    position: absolute;
    font-size: 120%;
}

.tableEdit2 img {
    height: 100px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.tableEdit1 {
    width: 300px;
}

    .tableEdit1 p {
        font-size: 150%;
    }

    .tableEdit1 .subtitle {
        font-weight: 800;
    }

.tableEdit3 {
    padding-right: 20px;
    padding-left: 30px;
}

/*index*/

.index {
    height: 550px;
}

    .index .indexTopBorder {
        background: url(../Content/Images/decor1.png);
        width: 100%;
        height: 28px;
    }

    .index h1 {
        font-size: 300%;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .index h2 {
        padding-top: 0;
    }

.imgResize img {
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 60px;
}

.index .buttonNext a:hover, .index .buttonNext a:hover, .index .buttonNext a:active, .index .buttonNext button:hover, .index .buttonNext button:active {
    background-color: #a7754b;
    color: #f2cfa1;
    border-radius: 20px 50px;
}

/*Admin*/
.adminButtons .btn {
    min-width: 200px;
    border: #5a3a16 solid 2px;
    background: #a7754b;
    color: #f2cfa1;
}

    .adminButtons .btn:hover, .adminButtons .btn:focus, .adminButtons .btn:active {
        background: #f0ad4e;
        color: #5a3a16;
    }


/*media query*/

/*@media only screen and (max-width: 500px)
{
    .cakeDefault {
        max-height: 175px;
        max-width: 500px;
        background: url(../Content/Images/defaultCakeBackground2.png) no-repeat;
        background-size: 60%;
    }
}*/

.cartcake {
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

.confirmcake {
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal-content {
    background: #f0e1ce;
}
