@model IEnumerable<Models.Cake>

@{
    ViewBag.Title = "Cake Base";
}

<h2>Which yummy cake base would you like?</h2>
<div class="container">
        <div class="cakeDefault">
            <p class="cakeDefaultText">
                Pick a base and click next!
            </p>
            @foreach (var item in Model)
            {

                        @*<style>
                                .cake {
                                background-image: url(), url();
                                }
                            </style>*@
                    <div class="cake">
                        <p>@Html.DisplayFor(modelItem => item.CakeDescription) ~ @Html.DisplayFor(modelItem => item.Price)</p>
                        <img class=" img-responsive" src="~/Content/Images/@Html.DisplayFor(modelItem => item.ImageUrl)">

                        @*<table>
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="~/Content/Images/@Html.DisplayFor(modelItem => item.ImageUrl)">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CakeDescription)
                                    </td>
                                </tr>
                            </table>*@
                    </div>
            }
        </div>
</div>
