@model IEnumerable<Models.Icing>

@{
    ViewBag.Title = "Icing";
}
<div class="box otherPagesBox">
    <h2>Pick your Icing!</h2>
    <div class="container">
        <div class="cakeDefault">
            <p class="cakeDefaultText">
                Pick a base and click Next!
            </p>
            @foreach (var item in Model)
            {
                @*<style>
                        .cake {
                        background-image: url(), url();
                        }
                    </style>*@
                <div class="cake">
                    <table>
                        <tr>
                            <td class="tableEdit3">
                                X @*place holder for radio button*@
                            </td>
                            <td class="tableEdit2">
                                <img class="img-responsive" src="~/Content/Images/@Html.DisplayFor(modelItem => item.ImageUrl)">
                            </td>
                            <td class="tableEdit1">
                                <p><span class="subtitle">@Html.DisplayFor(modelItem => item.IcingDescription)</span> ~ @Html.DisplayFor(modelItem => item.Price)</p>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            <br /><br />
            <div class="buttonNext text-center button">
                <a href="~/Home/Topping">Next: Choose a Topping!</a>
            </div>
            <br />
        </div>
    </div>
</div>
