@{
    ViewBag.Title = "Nom Nom Cakes";
}
<div class="index">
    <div class="indexTopBorder">
        </div>
    <h1>Hellllo there!</h1>
    <div class="row">
        <div class="col-md-3"><img src="~/Content/Images/decor2-chocolateCake.png" class="img-responsive">
</div>
        <div class="col-md-3"><img src="~/Content/Images/decor2-strawberry.png" class="img-responsive">
</div>
        <div class="col-md-3"><img src="~/Content/Images/decor2-pizza.png" class="img-responsive">
</div>
        </div>

</div>

