@{
    ViewBag.Title = "Nom Nom Cakes";
}
<div class="index box">
    <div class="indexTopBorder">
    </div>
    <div class="container"><h1 class="text-center">Hello there!</h1><h2>Have you tried our build-a-cake?</h2></div>
    <div class="row imgResize">
        <div class="col-xs-4">
            <a href="~/Home/CakeBase"><img src="~/Content/Images/decor2-chocolateCake.png" class="img-responsive"></a>
        </div>
        <div class="col-xs-4">
            <a href="~/Home/CakeBase"><img src="~/Content/Images/decor2-strawberry.png" class="img-responsive"></a>
        </div>
        <div class="col-xs-4">
            <a href="~/Home/CakeBase"><img src="~/Content/Images/decor2-pizza.png" class="img-responsive"></a>
        </div>
    </div>
    <div class="buttonNext text-center button">
        <a href="~/Home/CakeBase">Let's Start!</a>
    </div>
</div>
